
div.blogpost
    div.row
        div.span1
            div.date
                span.day 17
                br
                span.month April
        div.span9.outline
            div.post
                div.title
                    h2 Oops
                div.status
                    span Published
                    i.icon-share
                div.text
                    p Text Text Text Text Text Text Text Text Text Text 
                div.footer
                    -if(true)
                        div.track
                            span.trackname
                            div.musicplayer
                    div.health
                        div.carma
                        div.activity
        div.span1
            div.profile
