.outline {
  outline: 1px solid red;
}
.blogpost {
  padding: 16px;
}
.blogpost .date {
  box-sizing: border-box;
  background-color: #dbdbdb;
  border: 1px solid black;
  width: 70px;
  height: 70px;
  text-align: center;
  padding: 4px 0;
}
.blogpost .date .day {
  font-size: 46px;
  font-weight: bold;
  line-height: 40px;
}
.blogpost .date .month {
  font-size: 20px;
  line-height: 20px;
}
.blogpost .post {
  position: relative;
  padding: 5px;
}
.blogpost .post .title {
  text-align: center;
}
.blogpost .post .status {
  position: absolute;
  top: 0px;
  right: 0px;
}
.blogpost .post .status span {
  font-size: 14px;
  color: #717171;
}
.blogpost .post .status i {
  margin-left: 4px;
}
.blogpost .post .footer {
  position: relative;
  height: 80px;
}
.blogpost .post .footer .track {
  width: 160px;
  margin: 0 auto;
  border: 1px solid black;
}
.blogpost .post .footer .track .musicplayer {
  width: 150px;
  height: 80px;
}
.blogpost .post .footer .health {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 150px;
  height: 80px;
  border: 1px solid #717171;
}
.blogpost .profile {
  width: 80px;
  height: 80px;
  background-color: #dbdbdb;
  border: 1px solid black;
}
